nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 72px;
    /* font-size: medium; */
  
  
  }
  nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-weight: 500;
  }
  